.todoContainer {
  position: relative;
  width: 400px;
  margin: 8px;
}

.todoTitle {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 48px;
}

.addBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}

.todosWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todoPageWrapper {
  position: absolute;
  top: 150px;
  right: 0;
}

.todoPageWrapper > div {
  position: absolute;
  top: 0;
  right: 0;
}
